.advantages-item {
    border-radius: 32px;
    background: $white;
    box-shadow: 0 0 1px 0 rgba(69, 157, 239, .5), 0 4px 20px 0 rgba(69, 157, 239, .07);
    &__wrapper {
        padding: 20px;
    }
    &__media {
        width: 100%;
        height: 145px;
        margin-bottom: 25px;
        & img {
            border-radius: 32px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__title {
        display: block;
        font-weight: 600;
        line-height: 1.33;
        margin-bottom: 20px;
    }
    &__content {
        & p {
            margin: 0;
            line-height: 1.33;
            color: $gray;
        }
    }
}