.app {
    &__title {
        display: block;
        color: $white;
        font-weight: 600;
        line-height: 1.3;
        margin-bottom: 24px;
    }
    &__wrapper {
        @include flex(row, center);
    }
    &__link {
        line-height: 1.3;
        color: $primary;
        text-decoration: none;
        font-weight: 600;
        padding: .5em 1.5em;
        width: calc((100% - 30px) / 2);
        background: $white;
        border-radius: 8px;
        text-align: center;
        &:not(:last-child) {
            margin-right: 30px;
        }
        &:hover {
            opacity: .85;
        }
    }
}

// MEDIA
@media screen and (max-width: 767px) {
    .app {
        &__title {
            text-align: center;
        }
        &__link {
            &:not(:last-child) {
                margin-right: 10px;
            }
        }
        &__wrapper {
            justify-content: center;
        }
    }
}