.article-item {
    display: block;
    padding: 20px 15px;
    padding-bottom: 25px;
    text-decoration: none;
    border-radius: 30px;
    box-shadow: 0 0 1px 0 rgba($primary, .5), 0 4px 20px 0 rgba($primary, .07);
    background: $white;
    &__media {
        position: relative;
        margin-bottom: 20px;
        width: 100%;
        height: 10vw;
        background-size: cove;
        background-position: 50%;
        background-repeat: no-repeat;
        border-radius: 20px;
        overflow: hidden;
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg, rgba(79, 121, 255, 0.2), rgba(79, 121, 255, 0.2));
            top: 0;
            left: 0;
            pointer-events: none;
            transition: opacity .25s ease;
            border-radius: 20px;
        }
    }
    &__title {
        line-height: 1.35;
        font-weight: 600;
        color: $black;
    }
    &:hover {
        & .article-item {
            &__media {
                &::after {
                    opacity: 0;
                }
            }
            &__title {
                color: $primary;
            }
        }
    }
}