.b-catalog-box {
    &__wrapper {
        box-shadow: 0 0 1px 0 rgba($primary, .5), 0 4px 20px 0 rgba($primary, .07);
        background: $white;
        border-radius: 8px;
    }
    &__header {
        padding: 0 20px;
        &-title {
            display: block;
            padding: 10px 0;
            padding-bottom: 15px;
            border-bottom: 1px solid rgba($primary, .1);
            line-height: 1.5;
            color: $gray-100;
        }
    }
    &__grid {
        padding: 15px 20px;
        padding-bottom: 30px;
    }
    &__list {
        padding-left: 20px;
        &-item {
            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }
        &-link {
            display: block;
            position: relative;
            width: 100%;
            text-align: left;
            color: $gray-100;
            line-height: 1.5;
            text-decoration: none;
            &::after {
                content: '';
                position: absolute;
                width: 10px;
                height: 10px;
                background: icon('plus-dark.svg') no-repeat 50% / 10px auto;
                right: 0;
                top: 50%;
                margin-top: -4px;
                pointer-events: none;
                z-index: 1;
            }
            &_is {
                &-active {
                    &::after {
                        background: icon('minus-dark.svg') no-repeat 50% / 10px auto;
                    }
                }
            }
            &:hover {
                opacity: .85;
            }
        }
    }
    &__sub-list {
        display: none;
        margin-top: 15px;
        padding-left: 20px;
        &-item {
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
        &-link {
            display: block;
            font-size: 1.4rem;
            line-height: 1.45;
            color: $gray;
            text-decoration: none;
            &:hover {
                color: $primary;
            }
        }
        &_is {
            &-opened {
                display: block;
            }
        }
    }
    &__dropdown-list {
        display: none;
        padding-left: 20px;
        margin-top: 15px;
        &-item {
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
        &-link {
            position: relative;
            display: block;
            width: 100%;
            text-align: left;
            font-size: 1.4rem;
            font-weight: 600;
            color: $gray;
            text-decoration: none;
            &::after {
                content: '';
                position: absolute;
                width: 10px;
                height: 10px;
                background: icon('plus-dark.svg') no-repeat 50% / 10px auto;
                right: 0;
                top: 50%;
                margin-top: -4px;
                pointer-events: none;
                z-index: 1;
            }
            &_is {
                &-active {
                    &::after {
                        background: icon('minus-dark.svg') no-repeat 50% / 10px auto;
                    }
                }
            }
            &:hover {
                opacity: .85;
            }
        }
        &_is {
            &-opened {
                display: block;
            }
        }
    }
}