.breadcrumbs {
    &__wrapper {
        @include flex(row, center);
    }
    &__link {
        font-size: 1.4rem;
        color: $white;
        &[href] {
            position: relative;
            margin-right: 20px;
            &:hover {
                opacity: .85;
            }
            &::after {
                content: '';
                position: absolute;
                width: 5px;
                height: 8px;
                top: 50%;
                margin-top: -4px;
                left: calc(100% + 8px);
                background: icon('breadcrumbs.svg') no-repeat 50% / 5px auto;
            }
        }
        &_is {
            &-dark {
                color: $gray-50;
                &[href] {
                    &::after {
                        background: icon('breadcrumbs-dark.svg') no-repeat 50% / 5px auto;
                    }
                }
            }
        }
    }
}