.btn {
    display: inline-block;
    text-decoration: none;
    color: $white;
    font-weight: 600;
    line-height: 1.5;
    padding: .5em 2em;
    border: 2px solid $white;
    border-radius: $button-border-radius;
    text-align: center;
    &__icon {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
    }
    &_size {
        &-s {
            padding: .5em 1.5em;
        }
        &-auto {
            padding: .5em 0;
        }
    }
    &:hover {
        border-color: $light;
        background: $white;
        color: $primary;
        & .btn {
            &__icon {
                & path {
                    fill: $primary
                }
            }
        }
    }
    &_default {
        background: transparent;
        border-color: $primary;
        color: $primary;
        &:hover {
            background: $primary;
            color: $white;
            border-color: $primary;
        }
    }
    &_white {
        background: $white;
        border-color: $white;
        color: $primary;
        &:hover {
            background: $white;
            border-color: $light;
            color: $primary;
        }
    }
    &_blue {
        background: $primary;
        color: $white;
        border-color: $primary;
        &:hover {
            background: $primary-300;
            color: $white;
            border-color: $primary-300;
        }
    }
    &_green {
        background: $secondary;
        color: $white;
        border-color: $secondary;
        &:hover {
            background: $secondary-300;
            color: $white;
            border-color: $secondary-300;
        }
    }
    &_inner-green {
        background: transparent;
        color: $primary-inner;
        border-color: $primary-inner;
        &:hover {
            background: $primary-inner;
            border-color: $primary-inner;
            color: $white;
        }
    }
    &_inner-full-green {
        background: $primary-inner;
        color: $white;
        border-color: $primary-inner;
        &:hover {
            background: darken($primary-inner, 3%);
            border-color: darken($primary-inner, 3%);
            color: $white;
        }
    }
    &_inner-bg {
        background: rgba($black, .4);
        color: $white;
        &:hover {
            background: $primary-inner;
            border-color: $primary-inner;
            color: $white;
        }
    }
    &_share {
        background: rgba($white, .7);
        border-color: $gray;
        color: $gray;
        &:hover {
            border-color: $gray-50;
            color: $gray;
        }
    }
    &_disabled {
        pointer-events: none;
        color: $gray-50;
        border-color: $gray-50;
    }
}