.btn {
    display: inline-block;
    text-decoration: none;
    color: $white;
    font-weight: 600;
    line-height: 1.5;
    padding: .75em 2.2em;
    border: 2px solid $white;
    border-radius: $button-border-radius;
    text-align: center;
    &_size {
        &-s {
            padding: .5em 1.5em;
        }
        &-auto {
            padding: .5em 0;
        }
    }
    &:hover {
        border-color: $light;
        background: $white;
        color: $primary;
    }
    // &_filled {
    //     background: $white;
    //     color: $primary;
    // }
}