.btn {
    display: inline-block;
    text-decoration: none;
    color: $white;
    font-weight: 600;
    line-height: 1.5;
    padding: .5em 2em;
    border: 2px solid $white;
    border-radius: $button-border-radius;
    text-align: center;
    &__icon {
        margin-left: 10px;
    }
    &_size {
        &-s {
            padding: .5em 1.5em;
        }
        &-auto {
            padding: .5em 0;
        }
    }
    &:hover {
        border-color: $light;
        background: $white;
        color: $primary;
    }
    &_default {
        background: transparent;
        border-color: $primary;
        color: $primary;
        &:hover {
            background: $primary;
            color: $white;
            border-color: $primary;
        }
    }
    &_blue {
        background: $primary;
        color: $white;
        border-color: $primary;
        &:hover {
            background: $primary-300;
            color: $white;
            border-color: $primary-300;
        }
    }
    &_green {
        background: $secondary;
        color: $white;
        border-color: $secondary;
        &:hover {
            background: $secondary-300;
            color: $white;
            border-color: $secondary-300;
        }
    }
}