.form {
    &__footer {
        @include flex(row, center, center);
        margin-top: 40px;
    }
    &__row {
        @include flex(row, center);
    }
    &__section {
        &-title {
            display: block;
            line-height: 1.3;
            text-transform: uppercase;
            color: $gray-50;
            margin-bottom: 20px;
        }
        &-grid {
            @include flex(row, center);
            flex-wrap: wrap;
        }
        &-radio {
            margin-bottom: 15px;
            &:not(:last-child) {
                margin-right: 60px;
            }
        }
        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }
    &__container {
        @include flex(column);
        width: 100%;
        max-width: 270px;
        flex: 1 1 270px;
        &:not(:last-child) {
            margin-right: 30px;
        }
        &_column {
            &:not(:first-child) {
                margin-top: 20px;
            }
        }
        &_width {
            &-full {
                max-width: 100%;
                flex: 1 1 auto;
                &:nth-child(n) {
                    margin-right: 0;
                }
            }
        }
    }
    &__label {
        display: block;
        line-height: 1.5;
        color: $gray-100;
        margin-bottom: 10px;
        &-note {
            color: $primary;
        }
        &_light {
            color: $gray-50;
        }
    }
    &__input {
        width: 100%;
        & input {
            width: 100%;
            height: 40px;
            background: $white;
            border-radius: 8px;
            border: 1px solid transparent;
            box-shadow: 0 0 1px 0 rgba($primary, .5), 0 4px 20px 0 rgba($primary, .07);
            &:focus {
                border-color: $primary;
            }
        }
        &_inner-green {
            & input {
                box-shadow: 0 0 1px 0 rgba($primary-inner, .5), 0 4px 20px 0 rgba($primary-inner, .07);
                &:focus {
                    border-color: $primary-inner;
                }
            }
        }
    }
    &__privacy {
        margin-top: 35px;
    }
}

// MEDIA
@media screen and (max-width: 767px) {
    .form {
        &__row {
            flex-direction: column;
        }
        &__container {
            width: 100%;
            flex: 1 1 auto;
            max-width: none;
            &:not(:last-child) {
                margin: 0;
                margin-bottom: 25px;
            }
        }
        &__section {
            &-radio {
                width: calc((100% - 45px) / 2);
                &:nth-child(even) {
                    margin-right: 0;
                }
                &:nth-child(odd) {
                    margin-right: 45px;
                }
            }
            &:not(:last-child) {
                margin-bottom: 25px;
            }
        }
    }
}