.message {
    @include flex();
    padding: 30px 70px;
    background: $white;
    border-radius: 32px;
    box-shadow: 0 0 1px 0 rgba(69, 157, 239, .5), 0 4px 20px 0 rgba(69, 157, 239, .07);
    &_highlighted {
        border: 4px solid $primary;
    }
    &__col {
        width: 50%;
        flex: 1 1 auto;
        &:first-child {
            padding-right: 50px;
        }
        &:last-child {
            padding-left: 50px;
        }
        &:not(:last-child) {
            border-right: 1px solid rgba($primary, .1);
        }
    }
    &__title {
        margin: 0;
        font-size: 2.2rem;
        line-height: 1.33;
        color: $primary;
        font-weight: 600;
        margin-bottom: 15px;
    }
    &__text {
        & p {
            margin: 0;
            line-height: 1.5;
            color: $gray;
        }
    }
    &__btn {
        width: 100%;
        max-width: 230px;
        margin-top: 20px;
    }
    &__list {
        & ul {
            list-style: none;
            padding: 0;
            margin: 0;
            & li {
                position: relative;
                padding-left: 30px;
                color: $gray;
                line-height: 1.33;
                &:not(:last-child) {
                    margin-bottom: 15px;
                }
                &::before {
                    content: '';
                    position: absolute;
                    width: 16px;
                    height: 16px;
                    background: icon('list.svg') no-repeat 50% / 16px auto;
                    top: 3px;
                    left: 0;
                }
            }
        }
    }
}