.modal {
    box-shadow: 0 20px 55px 0 rgba($primary, .07);
    padding: 0;
    border-radius: 40px;
    padding: 70px 100px;
    padding-bottom: 90px;
    max-width: 570px;
    & a.close-modal {
        background: icon('close.svg') no-repeat 50% / 20px auto;
        right: 0;
        top: auto;
        bottom: calc(100% + 50px);
        transition: transform .25s ease;
        &:hover {
            transform: rotate(90deg);
        }
    }
    & iframe {
        border-radius: 40px;
    }
    &__label {
        text-transform: uppercase;
        display: block;
        line-height: 1.3;
        color: $gray-50;
        margin-bottom: 10px;
    }
    &__title {
        margin: 0;
        font-size: 2.4rem;
        font-weight: 600;
        &_align {
            &-center {
                display: block;
                text-align: center;
            }
        }
    }
    &__header {
        padding-bottom: 30px;
        border-bottom: 1px solid rgba($primary, .1);
        margin-bottom: 30px;
    }
}
.blocker {
    background: rgba($black, .5);
    z-index: 9999;
}
.video-modal {
    max-width: 925px;
    padding: 0;
    border: 16px solid $white;
}
.sharing-modal {
    max-width: 770px;
    border-radius: 30px;
    box-shadow: 0 0 1px 0 rgba($primary, .5), 0 4px 20px 0 rgba($primary, .07);
    padding: 70px;
    padding-top: 50px;
    &__meta {
        @include flex(row, center);
        margin-top: 15px;
        &-item {
            &:not(:last-child) {
                margin-right: 15px;
            }
        }
    }
    &__exercise {
        margin: 0;
        line-height: 1.3;
        font-weight: 600;
    }
    &__label {
        font-size: 1.2rem;
        font-weight: 600;
        color: $white;
        border-radius: 20px;
        padding: .8em 1.25em;
        background: $gray;
        @each $level in start, middle, hight {
            &_#{$level} {
                background: map-get($levels, #{$level});
            }
        }
    }
}
.success-modal {
    &__grid {
        @include flex(column, center, flex-start);
    }
    &__icon {
        max-width: 110px;
        margin-bottom: 35px;
    }
    &__title {
        margin: 0;
        text-align: center;
        font-weight: 600;
        line-height: 1.5;
    }
    &__btn {
        margin-top: 35px;
    }
}
.order-modal {
    &__header {
        border-bottom: none;
        padding-bottom: 0;
    }
    &__form {
        max-width: 325px;
        margin: 0 auto;
    }
}
.payment-modal {
    max-width: 769px;
    padding: 50px;
    padding-top: 60px;
    &__header {
        padding-bottom: 0;
        margin-bottom: 40px;
        border-bottom: none;
    }
    &__process-box {
        margin-bottom: 25px;
    }
    &__form {
        max-width: 400px;
    }
}

// MEDIA
@media screen and (max-width: 1229px) {
    .video-modal {
        border-width: 12px;
        border-radius: 25px;
        & iframe {
            border-radius: 25px;
        }
    }
}
@media screen and (max-width: 767px) {
    .modal {
        & iframe {
            height: 51.39vw;
        }
        & a {
            &.close-modal {
                bottom: calc(100% + 20px);
            }
        }
    }
    .video-modal {
        border-width: 6px;
        border-radius: 10px;
        & iframe {
            border-radius: 10px;
        }
    }
}