.navigation {
    &__wrapper {
        @include flex();
        &_center {
            justify-content: center;
        }
    }
    &__item {
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
    &__link {
        position: relative;
        color: $light;
        text-decoration: none;
        line-height: 1.5;
        &::after {
            content: '';
            position: absolute;
            width: 80%;
            height: 1px;
            background: $white;
            top: 100%;
            left: 50%;
            transform: translateX(-50%) translateY(10px);
            transition: transform .25s ease;
            opacity: 0;
        }
        &:not(.navigation__link_is-active, .navigation__link_is-styled) {
            &:hover {
                &::after {
                    opacity: 1;
                    transform: translateX(-50%) translateY(5px);
                }
            }
        }
        &:hover {
            opacity: .85;
        }
        &-icon {
            flex-shrink: 0;
            margin-left: 5px;
        }
        &_is {
            &-active {
                color: $primary;
                pointer-events: none;
            }
            &-styled {
                &::after {
                    opacity: 1;
                    width: calc(100% - 24px);
                    transform: none;
                    left: 0;
                }
                &:hover {
                    &::after {
                        transform: none;
                    }
                }
            }
        }
    }
}