// VARIABLES
$schedule-list-br: 32px;
$schedule-list-media-br: 32px;

.schedule-list {
    &__wrapper {
        padding: 60px 40px;
        border-radius: $schedule-list-br;
        box-shadow: 0 0 1px 0 rgba($primary, .5), 0 4px 20px 0 rgba($primary, .07);
    }
    &__item {
        &-title {
            margin: 0;
            font-size: 2.4rem;
            font-weight: 600;
            line-height: 1.3;
            text-align: center;
            margin-bottom: 25px;
        }
        &-grid {
            @include flex();
        }
        &-text {
            padding-left: 40px;
            & p {
                margin: 0;
                line-height: 1.5;
                color: $gray-100;
                &:not(:last-child) {
                    margin-bottom: 15px;
                }
            }
        }
        &-media {
            position: relative;
            width: 570px;
            flex: 1 0 570px;
            height: 320px;
            border-radius: $schedule-list-media-br;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50%;
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: $lecturer-item-br;
                pointer-events: none;
                background: rgba($black, .2);
            }
            &::before {
                content: '';
                position: absolute;
                width: 50px;
                height: 32px;
                top: 50%;
                left: 50%;
                transform: translate3d(-50%, -50%, 0);
                background: icon('play-button.svg') no-repeat 50% / 50px auto;
                z-index: 1;
            }
        }
        &:not(:last-child) {
            padding-bottom: 50px;
            margin-bottom: 50px;
            border-bottom: 1px solid rgba($primary-inner, .1);
        }
    }
}