.social {
    &__title {
        display: block;
        color: $white;
        line-height: 1.33;
        font-weight: 600;
        margin-bottom: 24px;
    }
    &__wrapper {
        @include flex(row, center);
    }
    &__link {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        &:not(:last-child) {
            margin-right: 15px;
        }
        &[data-social-icon="facebook"] {
            background: icon('facebook.svg') no-repeat 50% / 40px auto;
        }
        &[data-social-icon="youtube"] {
            background: icon('youtube.svg') no-repeat 50% / 40px auto;
        }
        &[data-social-icon="instagram"] {
            background: icon('instagram.svg') no-repeat 50% / 40px auto;
        }
        &:hover {
            opacity: .85;
        }
    }
}