.social {
    &__title {
        display: block;
        color: $white;
        line-height: 1.33;
        font-weight: 600;
        margin-bottom: 24px;
    }
    &__wrapper {
        @include flex(row, center);
    }
    &__link {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        &:not(:last-child) {
            margin-right: 15px;
        }
        @each $social in facebook, youtube, instagram {
            &[data-social-icon="#{$social}"] {
                background: icon('#{$social}.svg') no-repeat 50% / 40px auto;
            }
        }
        &_green {
            @each $social in facebook, youtube, instagram {
                &[data-social-icon="#{$social}"] {
                    background: icon('#{$social}-green.svg') no-repeat 50% / 40px auto;
                }
            }
        }
        &:hover {
            opacity: .85;
        }
    }
}