.advantages-section {
    &__header {
        margin-bottom: 80px;
    }
    &__title {
        padding-left: 25px;
    }
}

// MEDIA
@media screen and (max-width: 1229px) {
    .advantages-section {
        &__header {
            margin-bottom: 40px;
        }
        &__col {
            margin-bottom: 15px;
            &:nth-child(odd) {
                padding-right: 5px;
            }
            &:nth-child(even) {
                padding-left: 5px;
            }
        }
    }
}