.catalog-template {
    background: image('catalog-bg.svg') no-repeat 50% / 100% auto;
    &__search {
        flex: 1 1 470px;
        max-width: 470px;
        &_width {
            &-full {
                flex: 1 1 auto;
                max-width: none;
            }
        }
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}