.exercise-box {
    &__header {
        position: relative;
        margin-bottom: 40px;
    }
    &__title {
        font-size: 2.4rem;
        line-height: 1.3;
        font-weight: 600;
        margin: 0;
        margin-bottom: 10px;
    }
    &__meta {
        @include flex(row, center);
        &-item {
            &:not(:last-child) {
                margin-right: 15px;
            }
        }
    }
    &__level {
        font-size: 1.2rem;
        font-weight: 600;
        color: $white;
        border-radius: 20px;
        padding: .8em 1.25em;
        background: $gray;
        @each $level in start, middle, high {
            &_#{$level} {
                background: map-get($levels, #{$level});
            }
        }
    }
    &__name {
        font-weight: 600;
        line-height: 1.35;
    }
    &__time {
        position: relative;
        display: block;
        padding-left: 25px;
        color: $gray-50;
        &::before {
            content: '';
            position: absolute;
            width: 24px;
            height: 24px;
            left: 0;
            top: 50%;
            margin-top: -11.5px;
            background: icon('time.svg') no-repeat 50% / 24px auto;
        }
    }
    &__sharing-btn {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
    }
    &__media {
        &-item {
            @include flex();
            padding: 30px 0;
            &-video {
                position: relative;
                width: 570px;
                flex: 1 0 570px;
                height: 320px;
                margin-right: 35px;
                border-radius: 30px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: 50%;
                cursor: pointer;
                &::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(0deg, rgba(79, 121, 255, 0.2), rgba(79, 121, 255, 0.2));
                    top: 0;
                    left: 0;
                    pointer-events: none;
                    transition: opacity .25s ease;
                    border-radius: 30px;
                }
                &::before {
                    content: '';
                    position: absolute;
                    width: 76px;
                    height: 48px;
                    background: icon('play-button.svg') no-repeat 50% / 76px auto;
                    top: 50%;
                    left: 50%;
                    transform: translate3d(-50%, -50%, 0);
                    pointer-events: none;
                    z-index: 2;
                }
            }
            &-text {
                width: calc(100% - 570px);
                & p {
                    margin: 0;
                    line-height: 1.45;
                    color: $gray-100;
                    &:not(:last-child) {
                        margin-bottom: 15px;
                    }
                }
            }
            &:not(:last-child) {
                border-bottom: 1px solid rgba($primary, .1);
            }
            &:first-child {
                padding-top: 0;
            }
            &:last-child {
                padding-bottom: 0;
            }
        }
    }
    &__expire-time {
        position: absolute;
        right: 0;
        top: 0;
        color: $gray;
        line-height: 1.5;
        z-index: 1;
    }
    &__grid {
        &_is {
            &-disabled {
                filter: blur(2.5px);
                pointer-events: none;
            }
        }
    }
    &__expire-access {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 1;
    }
}

// MEDIA
@media screen and (max-width: 1229px) {
    .exercise-box {
        &__media {
            &-item {
                &-video {
                    width: 320px;
                    flex: 1 0 320px;
                    height: 190px;
                    margin-right: 20px;
                    border-radius: 10px;
                    &::before {
                        width: 50px;
                        height: 32px;
                        background-size: 50px auto;
                    }
                }
                &-text {
                    width: calc(100% - 320px);
                }
            }
        }
        &__title {
            max-width: 440px;
        }
        &__sharing {
            &-btn {
                top: 0;
                transform: none;
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .exercise-box {
        &__sharing {
            &-btn {
                position: relative;
                top: auto;
                transform: none;
                font-size: 0;
                margin-left: auto;
                &.btn_share {
                    border: none;
                    background: none;
                    & .btn {
                        &__icon {
                            margin: 0;
                        }
                    }
                }
            }
        }
        &__title {
            max-width: none;
            margin-bottom: 15px;
        }
        &__meta {
            position: relative;
            padding-bottom: 35px;
        }
        &__name {
            position: absolute;
            bottom: 0;
            left: 0;
        }
        &__media {
            &-item {
                flex-direction: column;
                &-video {
                    flex: 1 1 auto;
                    width: 100%;
                    margin: 0;
                }
                &-text {
                    width: 100%;
                    margin-top: 20px;
                }
            }
        }
    }
}