.footer {
    background: $primary;
    &__top {
        padding: 45px 0;
        padding-top: 110px;
    }
    &__bottom {
        padding: 35px 0;
        border-top: 1px solid rgba($white, .3);
    }
    &__text {
        margin: 0;
        display: inline-block;
        vertical-align: middle;
        color: $white;
        line-height: 1.125;
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
    &__link {
        text-decoration: none;
        line-height: 1.125;
        color: $white;
        border-bottom: 1px dashed $white;
        display: inline;
        &:hover {
            opacity: .85;
        }
    }
    &__btn {
        width: 100%;
    }
}