.header {
    &_is {
        &-sticky {
            position: absolute;
            top: 40px;
            left: 0;
            width: 100%;
            z-index: 10;
        }
        &-dark {
            & .navigation {
                &__link {
                    color: $gray-100;
                    &::after {
                        background-color: $gray-100;
                    }
                    &_is {
                        &-active {
                            color: $primary;
                        }
                    }
                }
            }
        }
    }
    &__wrapper {
        @include flex(row, center);
    }
    &__btn {
        margin-left: auto;
    }
    &__account-link {
        margin-left: auto;
    }
    &__logo {
        display: block;
        max-width: 150px;
    }
}

// MEDIA
@media screen and (max-width: 1229px) {
    .header {
        &_is {
            &-sticky {
                top: 35px;
            }
        }
        &__navigation {
            margin-top: 20px;
        }
        &__wrapper {
            &_align {
                &-center {
                    justify-content: center;
                }
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .header {
        &__wrapper {
            @include flex(column, center, flex-start);
            position: fixed;
            width: 100%;
            height: calc(100vh - 100px);
            left: 0;
            top: 100px;
            padding: 45px calc((100% - 510px) / 2);
            transform: translate3d(-150%, 0, 0);
            transition: transform .25s ease-in;
            background: $white;
            overflow-y: auto;
            z-index: 9999;
            &_is-open {
                transform: none;
            }
        }
        &__logo {
            max-width: 120px;
        }
        &_is-sticky {
            top: 25px;
        }
        &__btn {
            margin-left: 0;
            &:not(:last-child) {
                margin-bottom: 25px;
            }
            &:not(.btn_default) {
                background: $primary;
            }
        }
        &__navigation {
            margin-top: 0;
            margin-bottom: 40px;
        }
        &__account-link {
            margin-left: 0;
        }
    }
}