.hero {
    &__wrapper {
        position: relative;
        padding: 120px 0;
        padding-bottom: 300px;
        border-bottom-left-radius: $hero-border-radius;
        border-bottom-right-radius: $hero-border-radius;
        background: image('hero-wrapper@2x.png') no-repeat 50% / cover;
    }
    &__breadcrumbs {
        margin-bottom: 65px;
    }
    &__title {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 85px;
        color: $white;
        max-width: 965px;
    }
    &__advantages {
        @include flex(row, center, center);
        &-item {
            position: relative;
            font-size: 2.4rem;
            color: $light;
            line-height: 1.3;
            padding-left: 50px;
            font-weight: 600;
            &:not(:last-child) {
                margin-right: 80px;
            }
            &::before {
                content: '';
                position: absolute;
                width: 30px;
                height: 30px;
                left: 0;
                top: 50%;
                margin-top: -15px;
                background: icon('advantages.svg') no-repeat 50% / 30px auto;
            }
        }
    }
    &__video {
        position: absolute;
        top: calc(100% - 215px);
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 770px;
        height: 430px;
        z-index: 1;
    }
}

// MEDIA
@media screen and (max-width: 1229px) {
    .hero {
        &__wrapper {
            padding-top: 155px;
            padding-bottom: 200px;
        }
        &__breadcrumbs {
            padding-top: 30px;
            margin-bottom: 55px;
            border-top: 1px solid rgba($white, .3);
        }
        &__title {
            font-size: 3.6rem;
            line-height: 1.15;
            max-width: 530px;
            margin: 0 auto;
            margin-bottom: 40px;
        }
        &__advantages {
            flex-direction: column;
            align-items: flex-start;
            max-width: 300px;
            margin: 0 auto;
            &-item {
                font-size: 1.6rem;
                list-style: 1.5;
                &:not(:last-child) {
                    margin: 0;
                    margin-bottom: 20px;
                }
            }
        }
        &__video {
            width: 590px;
            height: 328px;
            top: calc(100% - 150px);
        }
    }
}