.info-section {
    &__media {
        position: relative;
    }
    &__btn {
        position: absolute;
        bottom: 120px;
        right: 0;
        z-index: 1;
    }
    &__content {
        &-item {
            @include flex(row, center);
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
        &-value {
            font-size: 6.4rem;
            font-weight: 600;
            margin-right: 25px;
        }
        &-name {
            font-weight: 600;
            color: $gray;
            text-transform: uppercase;
        }
    }
}

// MEDIA
@media screen and (max-width: 1229px) {
    .info-section {
        &__content {
            &-value {
                font-size: 4.8rem;
                line-height: 1.15;
            }
            &-item {
                &:not(:last-child) {
                    margin-bottom: 10px;
                }
            }
        }
        &__media {
            width: 100%;
            height: 100%;
            & img {
                position: absolute;
                width: 460px;
                top: 50%;
                transform: translateY(-50%);
                max-width: none;
            }
        }
        &__btn {
            position: relative;
            bottom: auto;
            right: auto;
            left: 50%;
            transform: translateX(-50%);
            margin-top: 25px;
        }
    }
}