.inner-footer {
    background: $primary-inner;
    &__social {
        @include flex(row, flex-start, flex-end);
        &-title {
            margin: 0;
            margin-right: 25px;
        }
    }
}

// MEDIA
@media screen and (max-width: 1229px) {
    .inner-footer {
        &__social {
            align-items: center;
            justify-content: center;
            &-title {
                margin-bottom: 0;
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .inner-footer {
        &__social {
            flex-direction: column;
        }
    }
}