.inner-template {
    &__wrapper {
        padding: 50px 0;
        padding-bottom: 130px;
    }
    &__options {
        margin-bottom: 55px;
    }
}

// MEDIA
@media screen and (max-width: 1229px) {
    .inner-template {
        &__wrapper {
            & .template {
                &__options {
                    &-select {
                        flex-shrink: 1;
                    }
                    &-search {
                        margin-left: 30px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .inner-template {
        &__wrapper {
            & .template {
                &__options {
                    &-search {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}