.result-template {
    &__grid {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        &_width {
            &-full {
                max-width: none;
            }
        }
        &-header {
            @include flex(row, center, center);
            padding-bottom: 45px;
            border-bottom: 1px solid rgba($primary, .2);
            &_inner {
                border-bottom-color: rgba($primary-inner, .2);
            }
        }
        &-title {
            line-height: 1.5;
            font-weight: 600;
            color: $gray-100;
            margin-left: 35px;
        }
        &-btn {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            margin-top: 50px;
        }
    }
    &__rate-section {
        margin-top: 80px;
    }
}

// MEDIA
@media screen and (max-width: 1229px) {
    .result-template {
        &__grid {
            &-header {
                flex-direction: column;
                align-items: center;
            }
        }
        &__rate-section {
            margin-top: 60px;
        }
    }
}
@media screen and (max-width: 767px) {
    .result-template {
        &__grid {
            &-header {
                padding-bottom: 25px;
            }
            &-title {
                margin-left: 0;
                margin-top: 40px;
            }
        }
        &__rate-section {
            margin-top: 30px;
        }
    }
}