.team-section {
    &__media {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 270px;
            height: calc(100% + 110px);
            left: -100px;
            top: -75px;
            background: rgba($primary, .1);
            border-radius: 32px;
            z-index: -1;
        }
    }
}

// MEDIA
@media screen and (max-width: 1229px) {
    .team-section {
        &__col {
            &:not(:last-child) {
                margin-bottom: 65px;
            }
        }
    }
}