.template {
    &__wrapper {
        padding: 120px 0;
        padding-bottom: 160px;
    }
    &__breadcrumbs {
        margin-bottom: 50px;
    }
    &__options {
        @include flex(row, center);
        &-search {
            margin-left: auto;
            width: 100%;
            flex: 1 1 470px;
            max-width: 470px;
        }
        &-select {
            width: 100%;
            max-width: 270px;
            &:not(:first-child) {
                margin-left: 30px;
            }
        }
        &-list {
            @include flex(row, center);
            flex: 1 1 auto;
        }
    }
    &__grid {
        margin-top: 50px;
        &-exercises {
            margin-top: 75px;
        }
    }
}