.template {
    &__wrapper {
        padding: 120px 0;
        padding-bottom: 160px;
    }
    &__breadcrumbs {
        margin-bottom: 50px;
    }
    &__options {
        @include flex(row, center);
        &-search {
            margin-left: auto;
            width: 100%;
            flex: 1 1 270px;
            max-width: 270px;
        }
        &-select {
            width: 100%;
            max-width: 270px;
            &:not(:first-child) {
                margin-left: 30px;
            }
        }
        &-list {
            @include flex(row, center);
            flex: 1 1 auto;
        }
    }
    &__grid {
        margin-top: 50px;
        &_inner {
            margin-top: 0;
        }
        &-exercises {
            margin-top: 75px;
        }
        &-box {
            padding: 60px 100px;
            background: $white;
            box-shadow: 0 0 1px 0 rgba($primary, .5), 0 4px 20px 0 rgba($primary, .07);
            border-radius: 30px;
            &_inner {
                box-shadow: 0 0 1px 0 rgba($primary-inner, .5), 0 4px 20px 0 rgba($primary-inner, .07);
            }
        }
        &-title {
            margin: 0;
            font-size: 2.4rem;
            line-height: 1.35;
            margin-bottom: 30px;
        }
        &-text {
            & p {
                margin: 0;
                line-height: 1.45;
                color: $gray;
                &:not(:last-child) {
                    margin-bottom: 20px;
                }
            }
        }
    }
}

// MEDIA
@media screen and (max-width: 1229px) {
    .template {
        &__wrapper {
            padding-top: 155px;
            padding-bottom: 100px;
        }
        &__breadcrumbs {
            &_is {
                &-dark {
                    padding-top: 25px;
                    border-top: 1px solid rgba($primary, .1);
                }
            }
        }
    }
}
@media screen and (max-width: 991px) {
    .template {
        &__grid {
            &-col {
                &:not(:last-child) {
                    margin-bottom: 30px;
                }
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .template {
        &__wrapper {
            padding-top: 100px;
            padding-bottom: 60px;
        }
        &__breadcrumbs {
            &_is {
                &-dark {
                    padding-top: 0;
                    border-top: none;
                }
            }
        }
    }
}