.text-section {
    &__wrapper {
        @include flex();
        position: relative;
        padding: 55px 40px;
        background: $white;
        box-shadow: 0 0 1px 0 rgba($primary, .5), 0 4px 20px 0 rgba($primary, .07);
        border-radius: 30px;
        &-item {
            flex: 1 1 auto;
            &:not(:last-child) {
                margin-right: 45px;
            }
            &_size {
                &-s {
                    &:not(:last-child) {
                        margin-right: 15px;
                    }
                }
            }
        }
        &_size {
            &-s {
                padding: 20px;
                padding-bottom: 60px;
            }
        }
    }
    &__media {
        width: 570px;
        height: 320px;
        flex-shrink: 0;
        margin-top: 35px;
        &-video {
            position: relative;
            width: 100%;
            height: 100%;
            border-radius: 30px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50%;
            overflow: hidden;
            cursor: pointer;
            z-index: 2;
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: linear-gradient(0deg, rgba(79, 121, 255, 0.2), rgba(79, 121, 255, 0.2));
                pointer-events: none;
            }
            &::before {
                content: '';
                position: absolute;
                width: 50px;
                height: 32px;
                top: 50%;
                left: 50%;
                background: icon('play-button.svg') no-repeat 50% / 50px auto;
                transform: translate3d(-50%, -50%, 0);
                pointer-events: none;
                z-index: 1;
            }
        }
        &_size {
            &-s {
                width: 350px;
                height: 195px;
                flex: 0 0 350px;
                & .text-section {
                    &__media {
                        &-video {
                            border-radius: 20px;
                        }
                    }
                }
            }
        }
    }
    &__note {
        display: block;
        text-transform: uppercase;
        font-weight: 600;
        color: $gray-50;
        margin-bottom: 10px;
    }
    &__content {
        &-title {
            margin: 0;
            font-size: 2.4rem;
            font-weight: 600;
            line-height: 1.3;
        }
        &-text {
            padding: 10px 0;
            & p {
                margin: 0;
                line-height: 1.45;
                color: $gray-100;
                &:not(:last-child) {
                    margin-bottom: 20px;
                }
            }
        }
    }
}