// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Base
$font: 'Ubuntu';
$base-font-size: 16px;
$base-path: '../';

// Colors
$white: #fff;
$black: #222;
$primary: #4F79FF;
$light: #F2F2F2;

// Hero
$hero-border-radius: 80px;

// Button
$button-border-radius: 12px;