// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Base
$font: 'Ubuntu';
$base-font-size: 16px;
$base-path: '../';

// Colors
$white: #fff;
$black: #222;
$primary: #4F79FF;
$primary-300: #3666FF;
$secondary: #68D94C;
$secondary-300: #49C62A;
$light: #F2F2F2;
$gray: #828282;

// Hero
$hero-border-radius: 80px;

// Button
$button-border-radius: 12px;

// Video section
$video-section-border-radius: 32px;